.board {
  width: 50%;
  margin-top: 10px;
  .inputs {
    // width: 50%;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #9e9e9e;
    border-radius: 5px;
  }
  .table-board {
    // width: 50%;
    box-shadow: 1px 1px 11px 2px #9e9e9e;
    border-radius: 5px;
  }
}
